<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172424225952-dte29v6qto1cp3ef3ag1btgcdno0g9hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172424225952-dte29v6qto1cp3ef3ag1btgcdno0g9hf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>172424225952-i9qu4hmoc571od14ibohdvhbfn2ss2s5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4xzSPItiJMtliGkRX1WvUI34XoRKgIB0</string>
	<key>GCM_SENDER_ID</key>
	<string>172424225952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TrabajoGCCE</string>
	<key>PROJECT_ID</key>
	<string>testing-dgpt</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-dgpt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172424225952:ios:e32207c5d3c92168f7d5c5</string>
	<key>DATABASE_URL</key>
	<string>https://testing-dgpt.firebaseio.com</string>
</dict>
</plist>