<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610317697724-0o46cbqki4fvdslbf6ajs78tse14bdi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610317697724-0o46cbqki4fvdslbf6ajs78tse14bdi6</string>
	<key>API_KEY</key>
	<string>AIzaSyB8k4c5pUHTSxls4ZJHfPtHtkcWJG1PZlM</string>
	<key>GCM_SENDER_ID</key>
	<string>610317697724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TrabajoGCCE</string>
	<key>PROJECT_ID</key>
	<string>agei-699fd</string>
	<key>STORAGE_BUCKET</key>
	<string>agei-699fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610317697724:ios:2d2cd1d43fcb7c224346b9</string>
	<key>DATABASE_URL</key>
	<string>https://agei-699fd.firebaseio.com</string>
</dict>
</plist>